@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

section.users{
    margin: 5.875rem 7rem 0;

    .top-side{
        color: #757575;
    }
    .item{
        padding-top: 1rem;
    }
}