:host {
  border-bottom: 1px solid hsl(0, 0%, 53%);
  padding: 0 3rem;


  .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;

    .search-bar {
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;

      .wrapper {
        border: 1px solid hsl(0, 0%, 53%);
        padding: .4rem .5rem .4rem 1.2rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 3rem;

        .date-input-wrapper, .status-input-wrapper {
          margin-bottom: 3px;


          input, select {
            border-bottom: 1px solid hsl(0, 0%, 53%);
            padding: .3rem;

            &:focus {
              border-color: #3F51B5;
            }

            &::placeholder {
              color:hsl(0, 0%, 13%);
            }
          }
        }

        .date-input-wrapper {
          padding-right: 1rem;
          margin-right: 1rem;
          border-right: 1px solid hsl(0, 0%, 85%);
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 1rem;
          background-color: #3F51B5;
          border-radius: 50%;
          height: 40px;
          width: 40px;

            i {
              background-image: url('../../../assets/img/magnifying-glass.svg');
              background-repeat: round;
              width: 20px;
              height: 20px;
            }
        }
      }

    }
  }

}
