<div>
  <div class="img-status-container">
    <span class="status-{{occurence.status}}"></span>
    <div class="img-wrapper">
      <img src="{{occurence.image}}" alt="{{occurence.title}}">
    </div>
  </div>
  <div class="description">
    <h2>{{occurence.title}}</h2>
    <p matTooltip="{{occurence.address}}" aria-label="Occurence address">

      {{occurence.address | slice: 0:40}}
      <span *ngIf="occurence.address.length >= 40">
        ...
      </span>
    </p>
    <p>{{occurence.data}}</p>
    <p>{{occurence.user}}</p>
  </div>
</div>
