header.top-side-header{
    height: 7.812rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #888888;
    
    .logo{
        width: 8.25rem;
        margin-left: 2.625rem;
    }
}

