<section class="menu">
    <ul>
        <li>
            <a routerLink="/home">
                <img src="assets/incidents.svg" alt="Acessar ocorrências">
                Ocorrências
            </a>
        </li>
        <li>
            <a routerLink="/users">
                <img src="assets/users.svg" alt="Acessar Usuários">
                Usuários
            </a>
        </li>
        <li>
            <a routerLink="/map">
                <img src="assets/map.svg" alt="Acessar Mapa">
                Mapa
            </a>
        </li>
    </ul>
</section>