@import "../../../../../variables";

.card-occurences-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-occurences {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 255.56px;
  height: 450px;
  margin: 20px 10px;
  &__detail {
    background-color: $light-gray;
    width: 255.56px;
    height: 285.84px;
    border-radius: 26px;
    padding: 0;
    margin-bottom: 15px;
    img {
      width: 220px;
      height: 180px;
      border-radius: 26px;
      margin: 18px;
    }
    span {
      display: inline-flex;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      margin-left: 220px;
      margin-top: 15px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    text-align: start;
    margin-left: 10px;
  }
  &__infos {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__info-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0px;
    margin-left: 10px;
  }
}

.closed {
  background-color: $closed;
}

.active {
  background-color: $active;
}

.waiting {
  background-color: $waiting;
}

.container-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}
