article.incident{
    position: relative;
    width: 15.9375rem;
    
    .content-incident{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        margin-top: 0.75rem;

        p{
            font-size: .875rem;
        }
        
        .title{
            font-weight: 700;
        }
    }
    .content-image{
        height: 17.80rem;
        overflow: hidden;
        border-radius: 1.625rem;
        display: flex;
        align-items: center;

        .item-image{
            height: 100%;
        }
    }

    .status{
        width: 1.5rem;
        height: 1.6875rem;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.875rem 1rem 0 0;

        &.closed{
            background-color: #FB4545;
        }
        
        &.active{
            background-color: #74FB45;
        }

        &.waiting{
            background-color: #FBD345;
        }
    }
}