$black: #000;
$dark-grey: #888;
$white: #fff;
$light-gray: #d4d4d4;
$border-nav-bar: 2px solid $black;
$border-neutral: 1px solid $dark-grey;

$background-color: #ebebeb;

$active: #fb4545;
$closed: #74fb45;
$waiting: #fbd345;
