$black: #000;
$dark-grey: #888;
$medium-grey: #757575;
$white: #fff;
$light-gray: #d4d4d4;
$border-nav-bar: 2px solid $black;
$border-neutral: 1px solid $dark-grey;
$border-detail-form: 1px solid $light-gray;
$border-bottom: 2px solid $black;
$btn-backround: #3f51b5;
$background-color: #ebebeb;

$active: #fb4545;
$closed: #74fb45;
$waiting: #fbd345;
