<nav>
  <button
    class="menu-button"
    routerLink="/occurences"
    routerLinkActive="activebutton"
  >
    <img
      src="../../assets/img/map-monitoring-logo.svg"
      alt="logo do monitoramento"
    />
    <span>Ocorrências</span>
  </button>

  <button
    class="menu-button"
    routerLink="/users"
    routerLinkActive="activebutton"
  >
    <img src="../../assets/img/user-logo.svg" alt="logo do usuario" />
    <span>Usuários</span>
  </button>

  <button
    class="menu-button"
    routerLink="/map-google"
    routerLinkActive="activebutton"
  >
    <img src="../../assets/img/map-logo.svg" alt="logo do mapa" />
    <span>Mapa</span>
  </button>
</nav>

<router-outlet> </router-outlet>
